body{
    font-family: 'Architects Daughter', cursive;
    width: 500px;
    margin: 0 auto;
    font-size: large;
    background-image: url("blue.jpg");
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 20px;
}
img {
    height: 100px;
    width: 100px;
}

button{
    margin: 10px;
}